.product-card.selected {
  border: 2px solid #000;
  background-color: #f3f3f3;
  transition: all 0.2s ease;
}

.selected-item {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 6px;
  background: #fafafa;
}

.selected-item img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 4px;
}
